@use "colors";

.button {
  width: 141px;
  height: 48px;
  border-radius: 5px;
  background-color: #5964e0;
  border: 1px solid #5964e0;
  color: colors.$color-white;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: colors.$color-light-violet;
    border-color: colors.$color-light-violet;
  }
}
