.main {
  padding: 145px 0 104px;
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 350px);
  // justify-items: center;
  justify-content: center;
  gap: 65px 30px;
}
