.main {
  padding: 145px 0 104px;
  display: grid;
  justify-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: center;
  gap: 65px 30px;
  margin-bottom: 56px;

  a {
    text-decoration: none;
  }
}
