// Primary colors
$color-violet: #9e7f66;
$color-light-violet: #939bf4;
$color-very-dark-blue: #19202d;
$color-midnight: #121721;
// Secondary colors
$color-white: #ffffff;
$color-light-grey: #f4f6f8;
$color-gray: #9daec2;
$color-dark-grey: #6e8098;

// Breakpoints
$breakpoint-tablet-min: 768px;
$breakpoint-laptop-min: 1100px;
